body {
    font-family: Arial, Helvetica, sans-serif;
}
input {
    display: block;
    height: 2em;
    width: 15em;
    border: 1px solid #a44eac;
    margin-bottom: 0.5em;
    transition: ease-in-out width 10s;
}
input:focus {
	outline: none;
}
button {
    background-color: #a44eac;
    color: white;
    padding: 0.5em;
    width: 7.5em;
    border: 1px solid #a44eac;
    margin-bottom: 0.5em;
}
#del-btn {
    background-color: white;
    color: #a44eac;
}
ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}
ul a {
    color: #a44eac;
}
li {
    margin-bottom: 0.5em;
}